body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
}

h1 {
  margin-top: 20px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  user-select: none;
  transition: width 0.8s, height 0.8s, background-color 0.8s;
  transition-timing-function: ease;
}

.card.revealed {
  background-color: #87cefa;
  cursor: default;
  transition: width 0.8s, background-color 0.8s;
  transition-timing-function: ease;
}

.card:active{
  transform: scale(0.95)
}

.card.revealed:active{
  transform: scale(0.95)
}

.reset{
  background-color: rgb(253, 250, 250);
  border: solid #1e90ff 2px;
  color: #87cefa;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
 
.reset:active{
  transform: scale(0.95)
}

/* INICIO */

.bodyinicio{
  background-color: #1e90ff;
}

.recepcao{
  background-color: #87cefa;
  margin-top: 7em;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 7px;
  padding: 60px;
  box-shadow: 10px 7px 10px rgba(34, 34, 34, 0.527);
}

.recepcao h1{
  color: #1e90ff;
}

.joga{
  margin-top: 2em;
  background-color: #87cefa;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: solid 3px #0b84fc;
  box-shadow: 10px 7px 10px rgba(34, 34, 34, 0.527);
}

.joga a{
  text-decoration: none;
  color: #1e90ff;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.recepcao h1{
  font-family: "Fascinate Inline", system-ui;
  font-weight: 450;
  font-style: normal;
}

.joga a:hover{
  color: #176dc3;
}

.recepcao:hover{
  transform: translateY(-4px);
  box-shadow: 17px 10px 8.3px 3.3px rgba(34, 34, 34, 0.366);
}

.joga:active{
  transform: scale(0.95)
}

.joga:hover{
  transform: translateY(-4px);
  box-shadow: 17px 10px 8.3px 2.3px rgba(34, 34, 34, 0.366);
}

.reveled-temp{
  background-color: #7eddb9;
}

/* VITORIA */

.bodyvitoria{
  background-color: #87cefa;
}

.vitoria{
  padding: 30px;
  background-color: rgb(246, 246, 246);
  display: grid; 
  text-align: center;
  border: 5px solid #1e90ff;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
}

.vitoria img{
  text-align: center;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 10px;
  margin-top: 2px;
  margin-left: 20.1em;
  border-radius: 7px;
}

.vitoria button{
  background-color: rgb(246, 246, 246);
  width: 270px;
  align-items: center;
  border: 2px solid  #1e90ff;
  border-radius: 10px;
  margin-left: 26.8em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.vitoria h1{
  font-family: "Fascinate Inline", system-ui;
  font-weight: 450;
  font-style: normal;
}

.vitoria h1{
  color: rgb(244, 244, 12);
}

.vitoria button a{
  text-decoration: none;
  color:   #1e90ff;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.vitoria a:hover{
  color: #176dc3;
}

.vitoria button:active{
  transform: scale(0.95)
}

.ilumination{
  border: solid 2px yellow;
  box-shadow: 0px 10px 20px rgb(233, 255, 93);
}

/* layout (tempo e tentativas)*/

.layout{
  padding: 5px;
  display: flex;
  gap: 10px;
  text-align: center;
  margin-left: 26em;
}

/* layout2 (tempo final, tentativas e recorde) */

.layout2{
  padding: 5px;
  display: flex;
  gap: 10px;
  text-align: center;
  margin-left: 22em;
}

/* cronometro */

.cronometro{
  margin-top: 0.6em;
  text-align: center;
  width: 50px;
  height: 30px;
}
